<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="StoragePath" value="E:\test" />
		<add key ="BackupPath" value="E:\test" />
		<add key ="Interval" value="1" />
		<add key="Username" value="WSM" />
		<add key="clientIdentCode" value="WORLDTECH" />
		<add key="clientSystemId" value="EXCEL" />
		<add key="url" value="https://worldtech.dc.aeb.com/worldtechprod1ici/servlet/bf/InternationalCustomsBF" />
		<add key="password" value="crVJ#Ud&amp;oSFde5#nu((6" />
		<add key ="FinishStatus" value="FIN" />
		<add key ="logPath" value="E:\test\logs" />
		<add key ="dbConnectionString" value="Data Source=10.105.9.82;Initial Catalog=Translima;User ID=sa;Password=Password11;" />
		<add key ="ResourceFolderPath" value="C:\Users\muneeb.urrehman\Desktop\CreateConsignment\CreateConsignment" />
		<add key ="AttachmentsFolderPath" value="E:\test\Attachments" />
	</appSettings>
</configuration>